{% extends "recipes/base.html" %}
{% block content %}
  <h1>About Recipes Project</h1>
  <p>
    Recipes is a site not just for all kinds of foodies, but also for
    people like me - lazy people who enjoy food, but can't be bothered to care
    too much or spend a lot of time making it.
  </p>
  <p>
    We strive to make all our recipes and guides short, simple,
    and to the point. For us, food can be both simple and delicious – or
    rather not can, but should!
  </p>
{% endblock content %}
