{% extends "recipes/base_page.html" %}
{% block content %}
  <h1>Recipes Home</h1>
  {% for recipe in recipes %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="text-decoration-none mr-2" href="#">{{ recipe.author }}</a>
          <small class="text-muted">{{ recipe.datetime_posted|date:"D, F j'y" }}</small>
        </div>
        <h2>
          <a class="text-decoration-none article-title" href="#">{{ recipe.title }}</a>
        </h2>
        <p class="article-content">{{ recipe.content }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
