{% extends "recipes/base.html" %}
{% block content %}
  <h1 class="mb-3">Recipes by {{ view.kwargs.username }} ({{page_obj.paginator.count }} found)</h1>
  {% for recipe in recipes %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ recipe.author.profile.profile_picture.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="text-decoration-none mr-2" href="{% url 'user-recipes' recipe.author.username %}">
            {{ recipe.author }}
          </a>
          <small class="text-muted">{{ recipe.datetime_posted|date:"D, F j'y" }}</small>
        </div>
        <h2>
          <a class="text-decoration-none article-title" href="{% url 'recipe-detail' recipe.id %}">
            {{ recipe.title }}
          </a>
        </h2>
        <p class="article-content">{{ recipe.content }}</p>
      </div>
    </article>
  {% endfor %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
